body > div.o_action_manager > div > div.o_content > div {
    display: block;
}

body > div.o_action_manager > div > div.o_content > div > div.o_form_sheet_bg {
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
}

body > div.o_action_manager > div > div.o_content > div > div.o_FormRenderer_chatterContainer.o-aside {
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
}

.o_form_view.o_xxl_form_view > .o_form_sheet_bg > .o_form_sheet {
    width: 100%;
    margin: 0px !important;
    max-width: 100%;
}