div>div>div {
	border-bottom: none !important;
}

div.col-3.mb4 {
	width: 5px !important;
}


img[Alt="Logo"] {
	width: 800px !important;
	max-height: 1000px !important;
	margin-left: auto !important;
	margin-right: auto !important;
	display: block !important;
	float: none !important;
	clear: both !important;
}

div[name="moto"] {
	float: none !important;
	display: none !important;
	clear: both !important;
}

t[id="partner_address"] {
	color: green !important;
	background-color: red !important;
	border: 1px solid #333;
}

.description-root * {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	font-size: 0.5rem !important;
	display: none !important;
}