img[Alt="Logo"] {
    width: 800px !important;
    max-height: 1000px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    float: none !important;
    clear: both !important;
}

div[name="moto"] {
    float: none !important;
    display: none !important;
    clear: both !important;
}