img[Alt*="Logo"] {
    width: 800px !important;
    max-height: 1000px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
    clear: both;
}

img[Alt*="Logo"] + * {
    display: none;
}