div#wrap.o_portal_wrap, main[style] {
	background-color: #000 !important;
}

#portal_sale_content {
	background-color: #000 !important;
}

#wrapwrap.o_portal {
	background-color: #000 !important;
}

#quote_content>div.row.justify-content-center.text-center.d-print-none.pt-1.pb-4>div:nth-child(1) {
	padding-right: 0;
}

#quote_content>div.row.justify-content-center.text-center.d-print-none.pt-1.pb-4>div:nth-child(3) {
	padding-right: 0;
}

#quote_content>div.row.justify-content-center.text-center.d-print-none.pt-1.pb-4>div.o_download_pdf.btn-toolbar.flex-sm-nowrap {
	display: none;
}

#quotesDownloadButton {
	background-color: #db0d0d;
	color: #fff;
}

#top.o_header_standard {
	background-color: #000;
}

#top_menu_container {
	background-color: #000;
}

h2#quote_header_7 {
	display: none;
}

#portal_sale_content>div.card-body {
	background-color: #000 !important;
}

#quote_content>div.salesman-container {
	background-color: #000 !important;
}

img.quoteFooterContactImage {
	background-color: #000;
}

.is-subtotal.text-right {
	color: #fff;
}

.is-subtotal>td>strong {
	display: inline-block;
	margin-bottom: 20vh;
}

button.btn.btn-success {
	background-color: #db0d0d;
	color: #fff;
	border-color: #db0d0d;
}

a.btn.btn-primary {
	background-color: #db0d0d;
}

a.btn.btn-danger {
	background-color: #db0d0d;
}

a.btn.btn-secondary[href="#discussion"] {
	display: none;
}

a.btn.btn-secondary.btn-block.o_download_btn {
	background-color: #db0d0d;
	color: #fff;
	border-color: #db0d0d;
}

#print_invoice_report {
	display: none;
}

div[data-oe-xpath="/data/xpath[1]/div/div[1]/div[11]/t[1]/div[2]"] {
	display: none;
}

button.o_portal_chatter_composer_btn.btn.btn-primary {
	background-color: #db0d0d;
}

button.o_portal_chatter_attachment_btn.btn.btn-secondary {
	background-color: #db0d0d;
	border-color: #db0d0d;
	color: #fff;
}

#message-108>div>div:nth-child(3)>p:nth-child(1) {
	color: #fff;
}

#quote_content>div.row.justify-content-center.text-center.d-print-none.pt-1.pb-4>div:nth-child(2) {
	display: none;
}

.white-text {
	color: white;
}

#wrapwrap main {
	background-color: #000 !important;
}

.product_fold * {
	font-size: 0.75rem;
	margin-top: 0px;
	margin-bottom: 0px;
}

.quote-head, .quote-head * {
	color: #fff;
	background-color: #000;
	text-align: center;
	padding: 1.6rem !important;
}

.cHead {
	display: block;
	padding: 0px !important;
}