.no-display {
	display: none;
}

.english-mode+div+div {
	display: none;
}

.french-mode+div {
	display: none;
}

#renewal-text {
	margin: auto;
}

#renewal-text * {
	text-align: center;
	margin: auto;
}

#renewal-text .red-div {
	width: 5vw;
	height: 10px;
	background-color: red;
	margin: auto;
}

#renewal-text img {
	width: 75vw;
	height: auto;
}