div#wrap.o_portal_wrap, main[style] {
	background-color: #000 !important;
}

#portal_sale_content {
	background-color: #000 !important;
}

#wrapwrap.o_portal {
	background-color: #000 !important;
}

#quote_content>div.row.justify-content-center.text-center.d-print-none.pt-1.pb-4>div:nth-child(1) {
	padding-right: 0;
}

#quote_content>div.row.justify-content-center.text-center.d-print-none.pt-1.pb-4>div:nth-child(3) {
	padding-right: 0;
}

#quote_content>div.row.justify-content-center.text-center.d-print-none.pt-1.pb-4>div.o_download_pdf.btn-toolbar.flex-sm-nowrap {
	display: none;
}

#quotesDownloadButton {
	background-color: #db0d0d;
	color: #fff;
}

#top.o_header_standard {
	background-color: #000;
}

#top_menu_container {
	background-color: #000;
}

h2#quote_header_7 {
	display: none;
}

#portal_sale_content>div.card-body {
	background-color: #000 !important;
}

#quote_content>div.salesman-container {
	background-color: #000 !important;
}

img.quoteFooterContactImage {
	background-color: #000;
}

.is-subtotal.text-right {
	color: #fff;
}

.is-subtotal>td>strong {
	display: inline-block;
	margin-bottom: 2vh;
}

button.btn.btn-success {
	background-color: #db0d0d;
	color: #fff;
	border-color: #db0d0d;
}

a.btn.btn-primary {
	background-color: #db0d0d;
}

a.btn.btn-danger {
	background-color: #db0d0d;
}

a.btn.btn-secondary[href="#discussion"] {
	display: none;
}

a.btn.btn-secondary.btn-block.o_download_btn {
	background-color: #db0d0d;
	color: #fff;
	border-color: #db0d0d;
}

#print_invoice_report {
	display: none;
}

div[data-oe-xpath="/data/xpath[1]/div/div[1]/div[11]/t[1]/div[2]"] {
	display: none;
}

button.o_portal_chatter_composer_btn.btn.btn-primary {
	background-color: #db0d0d;
}

button.o_portal_chatter_attachment_btn.btn.btn-secondary {
	background-color: #db0d0d;
	border-color: #db0d0d;
	color: #fff;
}

#message-108>div>div:nth-child(3)>p:nth-child(1) {
	color: #fff;
}

#quote_content>div.row.justify-content-center.text-center.d-print-none.pt-1.pb-4>div:nth-child(2) {
	display: none;
}

.white-text {
	color: white;
}

#wrapwrap main {
	background-color: #000 !important;
}

.product_fold * {
	font-size: 0.75rem;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

.product_fold ul {
	padding-left: 20px;
}

.quote-head, .quote-head * {
	color: #fff;
	background-color: #000;
	text-align: center;
	padding-top: 1.6rem !important;
	padding-bottom: 1.6rem !important;
}

.cHead {
	display: block;
	padding: 0px !important;
	width: -moz-fit-content;
	width: fit-content;
}

.quoteOverlay {
	display: none;
}

[id^=quote_header_] {
	color: #fff;
}

.quote-address * {
	z-index: 1;
	text-align: center;
	width: 100%;
	height: auto;
}

.quote-address>img {
	z-index: 0;
}

.quote-address-block {
	top: 25%;
	height: 50%;
	position: absolute;
}

#footer-img {
	width: 100%;
	margin-top: 5vh;
}

.priceChange {
	display: inline;
	float: left;
	margin-right: 20px;
}

.flex {
	margin-left: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

td {
	vertical-align: middle;
}

#rental-terms {
	color: #fff;
}

div.hr {
	border: 2px solid #9e0a0a;
	background-color: #9e0a0a;
	margin-left: calc(50% - 50px);
	width: 100px;
	z-index: 10;
}

td#product_name#product_name {
	padding-top: 0.3rem !important;
}

ol.o_portal_submenu * {
	color: #db0d0d;
}

#wrapwrap>main>div.o_portal.container.mt-3 {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

html #wrapwrap>main>div.o_portal.container.mt-3>div {
	width: 100vw !important;
	border: 0px none #000 !important;
	border-radius: 0px !important;
}

@media (max-width: 750px) {
	#details {
		margin-top: 0px !important;
	}

	.card-body {
		padding: 0px;
	}
}

span.qtySpan {
	padding-right: 0px !important;
}

.pr-0 {
	padding: 0px !important;
}

.pr-20 {
	padding: 20px !important;
}

.qtySpan+span {
	padding-right: 20px !important;
}

td.tax-column {
	display: none !important;
}

#portal_sale_content div.oe_no_empty {
	display: none !important;
}

.rental_price_explain, .rental_price_estimate {
	color: #fff;
}

.rental_product_value, .rental_product_value * {
	color: #fff;
}

.text-middle, .text-middle *, .text-middle>label>div.text-right {
	text-align: center !important;
}

.text-middle>label>span {
	padding: 0px !important;
}

.text-middle span {
	white-space: nowrap;
	min-width: fit-content;
}

#quote_disclaimer {
	color:#fff;
}

.rental_value_cell {
	white-space: nowrap !important;
}

.proquotesLineTotal {
	white-space: nowrap;
}

.nowrap {
	white-space: nowrap !important;
}

#portal_sale_content > div.card-body > section.mt-5 > h3 {
	color: #fff !important;
}

#portal_sale_content > div.card-body > section.mt-5 > span {
	color: #fff !important;
}

#portal_sale_content {
	overflow: visible;
}

#details > .quote-address > img  {
	width: 100vw;
	margin-left: -50vw;
	margin-right: -50vw;
	left: 50%;
	right: 50%;
	position: relative;
}