.no-display {
	display: none;
}

.english-mode+div+div {
	display: none;
}

.french-mode+div {
	display: none;
}

#renewal-text {
	margin: auto;
}

#renewal-text * {
	color: #fff;
	text-align: center;
	margin: auto;
	line-height: 2.5rem;
}

#renewal-text .red-div {
	width: 5vw;
	height: 2px;
	background-color: #f55;
	margin: auto;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

#renewal-text p {
	margin-bottom: 7.5vw;
}

#renewal-text img {
	width: 75vw;
	height: auto;
}