#rental-terms-checkbox:checked + label + #rentalTerms {
    display: none;
}

#rental-terms-checkbox:not(:checked) + label + #rentalTerms{
    display: block;
}


#rental-terms-checkbox:checked + label > #terms_hidden {
    display: none;
}

#rental-terms-checkbox:not(:checked) + label + #terms_open{
    display: none;
}