#rental-terms-checkbox:checked + label + #rentalTerms {
    display: none;
}

#rental-terms-checkbox:not(:checked) + label + #rentalTerms{
    display: block;
}


#terms_hidden {
    display: none;
}

#terms_open{
    display: none;
}