#user-info div span {
	color: white !important;
}

#user-info .upload-label {
	padding: 3px;
	background-color: #db0d0d;
	color: white;
	cursor: pointer;
}


#user-info input[type=file] {
	display: inline-block;
	color: white;
}

#user-info input[type="file"]::file-selector-button {
	padding: 3px;
	background-color: #db0d0d;
	color: white;
	cursor: pointer;
}

.Canada.us-op {
	display: none;
}

.United.States.can-op {
	display: none;
}

/* Addresse */
#new-address {
	display: none;
}

#new-address:checked ~ #address_yes_label {
	display: none;
}

#new-address:checked ~ #address_no {
	display: none;
}

#new-address:not(:checked) ~ #address_no_label {
	display: none;
}


#new-address:not(:checked) ~ #address_yes {
	display: none;
}

#new-address:checked ~ #rental-address {
	display: none;
}