#user-info div > span {
    color: white !important;
}

#user-info .upload-label {
	padding: 3px;
	background-color: #db0d0d;
	color: white;
	cursor: pointer;
}

#user-info input[type=file] {
	display: none;
}


#user-info #new-address {
	visibility: hidden;
}

#user-info #new-address:before {
	display: block;
	content: "No";
	color: white;
	width: fit-content;
	height: fit-content;
}

#user-info #new-address:checked:before {
	display: block;
	content: "Yes";
}