#projectPortalTable {
    background-color: #333;
    color: #db0d0d;
}

#projectPortalTable > tbody > tr > td > a > span {
    color: #db0d0d;   
}

#projectPortalTable > thead > tr > th > em {
    background-color: #1E2023;
    color: #fff;
}

#projectPortalTable > thead > tr > th {
    background-color: #1E2023;
    color: #fff;   
}

#top_menu_container > a > span > img {
    height: 50%;
}

header#top > nav.Navbar {
    background-color: #000;
    border-bottom-color: #000 !important;
}