#wrap > nav {
    background-color: #000;
}

#wrap > nav > div > a {
    color: #fff;
}

#wrap > nav > div > a > i {
    color: #fff !important;
}

#wrap > div > h1 {
    color: #fff;
}

#calendarHeader > h3 {
    color: #fff;
}

td.align-middle.o_weekend {
    background-color: #000;
}

tr.active > th {
    color: #fff;
}

tr.o_appointment_days > td {
    color: #fff;
}

div.text-muted {
    color: #AAA !important;
    opacity: 0;
}

#wrap > div > div.d-lg-flex.col.pl-0.mb-2.o_not_editable > div {
    color: #fff;
}

#timezoneSelection > span {
    color: #fff;
}

#slots_availabilities {
    flex-direction: column;
}

#calendar {
    margin: auto;
}

.o_appointment_days .o_today div {
    border-bottom: 3px solid #db0d0d;
}

#slotsList > h5 {
    font-size: large;
    color: #fff;
    text-align: left !important;
}

.o_appointment_days .o_day {
    border: 2px solid #db0d0d;
}

.o_appointment_days .o_day:hover {
    background-color: #db0d0d;
}

#slotsList > div > div > a {
    color: #fff !important;
    border-color: #db0d0d;
}


#slotsList > div > div > a:hover {
    background-color: #db0d0d;
}