p {
	color: #fff;
}

#custom-webpage-root {
	height: -moz-fit-content;
	height: fit-content;
	display: block;
	background-color: #000;
	color: #fff;
	overflow-x: hidden;
}

#custom-webpage-root a {
	color: #fff;
	color: var(--color-text);
	cursor: pointer;
	font-family: HelveticaNeue-CondensedBlack, Helvetica Neue;
	font-weight: 700;
	position: relative;
	text-decoration: none;
	white-space: nowrap;
}

#custom-webpage-root *, #custom-webpage-root *::before, #custom-webpage-root *::after {
	box-sizing: unset;
}

#custom-webpage-root button {
	-webkit-appearance: auto;
	appearance: auto;
	writing-mode: horizontal-tb;
	text-rendering: auto;
	color: buttontext;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: center;
	align-items: flex-start;
	cursor: default;
	box-sizing: border-box;
	background-color: buttonface;
	margin: 0em;
	padding: 1px 6px;
	border-width: 2px;
	border-style: outset;
	border-color: buttonborder;
	border-image: initial;
}

#custom-webpage-root .button {
	background: #e7e7e7;
	border: none;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	padding: 1.5rem 3rem;
	pointer-events: auto;
	position: relative;
}

#custom-webpage-root .button--hyperion {
	border: 1px solid #333;
	color: #fff;
	font-family: HelveticaNeue-CondensedBold, Helvetica Neue;
	font-weight: 500;
	overflow: hidden;
	padding: 1rem 1.5rem;
	text-transform: uppercase;
}

#custom-webpage-root iframe {
	border-width: 2px;
	border-style: inset;
	border-color: initial;
	border-image: initial;
}

#custom-webpage-root p {
	font-family: Helvetica Neue;
}

#custom-webpage-root h1 {
	display: block;
	font-size: 2em;
	margin-block-start: 0.67em;
	margin-block-end: 0.67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
	color: #fff;
	font-family: HelveticaNeue-CondensedBlack, Helvetica Neue, Impact, sans-serif;
}

#custom-webpage-root h2 {
	display: block;
	font-size: 1.5em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
	font-family: HelveticaNeue-CondensedBlack, Helvetica Neue, Impact, sans-serif;
}

#custom-webpage-root h3 {
	display: block;
	font-size: 1.17em;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
	font-family: HelveticaNeue-CondensedBlack, Helvetica Neue, Impact, sans-serif;
}

#custom-webpage-root hr {
	display: block;
	unicode-bidi: isolate;
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
	margin-inline-start: auto;
	margin-inline-end: auto;
	overflow: hidden;
	border-style: inset;
	border-width: 1px;
}

#custom-webpage-root h4 {
	display: block;
	margin-block-start: 1.33em;
	margin-block-end: 1.33em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

#custom-webpage-root ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

#custom-webpage-root li {
	display: list-item;
	text-align: -webkit-match-parent;
	text-align: match-parent;
}

#custom-webpage-root .gradient-text {
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	background-color: red;
	background-repeat: repeat;
	background-size: 100%;
}

@media (min-width: 750px) {
	#custom-webpage-root .yt-vid {
		border: 2px solid #333;
		border-radius: 15px;
		box-shadow: 10px 10px 10px #181818;
		width: calc(37.5vw - 100px);
		height: calc(18.75vw - 50px);
		max-height: 350px;
		max-width: 595px;
		transition: all .5s ease-in-out;
	}
}

/*Section*/
#custom-webpage-root section {
	display: flex;
	width: 100vw;
	clear: both;
	margin: 0px;
	justify-content: space-around;
	flex-wrap: wrap;
}

/*Links*/
#custom-webpage-root .subheader {
	background-color: #1a1a1ab3;
	display: flex;
	flex-direction: row;
	justify-content: center;
	left: 0;
	/*position: fixed;*/
	/*Main Links row is not fixed on screen*/
	top: 131px;
	width: 100%;
	z-index: 49;
}

#custom-webpage-root .subheader>a>h3 {
	color: #888;
	font-family: roboto, sans-serif;
	font-size: 1rem;
	font-weight: 500;
	padding: 5px 9px;
	text-align: center;
	text-transform: uppercase;
}

/*Landing Section*/
#custom-webpage-root #landing {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#custom-webpage-root .product-landing-text {
	z-index: 1;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	width: 100%;
}

#custom-webpage-root .product-landing-divide {
	align-self: center;
	border: 1px solid #611008;
	background-color: #611008;
	margin: 0 10px;
	width: 100px;
}

/* #custom-webpage-root .product-landing-text>h1 {
	word-wrap: break-word;
	font-size: 2em;
	font-weight: 900;
	margin: 0;
	text-align: center;
	text-shadow: 5px 5px 5px #000;
} */

/* @media screen and (min-width: 750px) {
	#custom-webpage-root .product-landing-text>h1 {
		font-size: 4em;
	}
} */

/* #custom-webpage-root .product-landing-text>h2 {
	color: #dbdbdb;
	font-family: HelveticaNeue-Light, Helvetica Neue Light;
	font-size: 1em;
	font-weight: 100;
	letter-spacing: 2.75px;
	text-align: center;
	text-shadow: 3px 4px 3px #000;
	text-transform: uppercase;
} */

/* @media screen and (min-width: 750px) {
	#custom-webpage-root .product-landing-text>h2 {
		font-size: 2em;
	}
} */



@media (min-width: 750px) {
	#custom-webpage-root #landing>iframe, #custom-webpage-root #landing>iframe[src=""] {
		border: none;
		height: calc(100vh - 130px);
		min-height: 500px;
		width: 100vw;
		display: block;
	}
}

/*Section Overview*/
@media (min-width: 750px) {
	#custom-webpage-root .advertise>h1 {
		color: #2d2f32;
		font-size: 3em;
		font-weight: 300;
		text-align: center;
	}
}

/*Section Advertize*/
@media (min-width: 750px) {
	#custom-webpage-root .advertise>iframe {
		border: 1px solid #333;
		border-radius: 15px;
		height: 45vw;
		width: 80vw;
	}
}

@media (min-width: 750px) {
	#custom-webpage-root .advertise>p {
		font-size: 1.25rem;
		margin-bottom: 0;
		padding-left: 10vw;
		padding-right: 10vw;
		margin-top: 50px;
		padding-bottom: 50px;
		width: 80vw;
	}
}

/*Section Sketchfab*/
#custom-webpage-root #sketchfab {
	max-width: 100%;
}

@media (min-width: 750px) {
	#custom-webpage-root #sketchfab {
		background-color: #161616;
		height: 100vh;
		min-height: 700px;
		width: 100vw;
	}
}

@media (min-width: 750px) {
	#custom-webpage-root #sketchfab>iframe {
		border: none;
		height: 100%;
		width: 75vw;
		margin-left: 12.5vw;
		margin-right: 12.5vw;
	}
}

@media (min-width: 750px) {
	#custom-webpage-root #sketchfab>hr {
		background-color: #161616;
		border: 1px solid #611008;
		margin-top: 0;
		width: 50%;
	}
}

/*Section Presenting*/
@media (min-width: 750px) {
	#custom-webpage-root .vidwrap {
		display: flex;
		flex-direction: row;
		margin: 0;
		padding: 0;
	}
}

@media (min-width: 750px) {
	#custom-webpage-root .vidleft {
		float: left;
		max-width: 700px;
		padding-left: 12.5vw;
		padding-right: 50px;
		padding-top: 150px;
		width: calc(37.5vw - 50px);
		z-index: 3;
	}
}

@media (min-width: 750px) {
	#custom-webpage-root .vidright {
		float: right;
		max-width: 700px;
		padding-left: 50px;
		padding-right: 12.5vw;
		padding-top: 150px;
		width: calc(37.5vw - 100px);
		z-index: 3;
	}
}

@media (min-width: 750px) {
	#custom-webpage-root .midline {
		position: absolute;
		width: 1px;
		z-index: 6;
	}
}

@media (min-width: 750px) {
	#custom-webpage-root .vidleft>h1, #custom-webpage-root .vidright>h1 {
		font-size: 2.4rem;
	}
}

@media (min-width: 750px) {
	#custom-webpage-root .vidleft>p, #custom-webpage-root .vidright>p {
		color: #888;
	}
}

/*Feature Header*/
#custom-webpage-root .feature-header {
	height: 200px;
	/*padding-left: 12.5vw;*/
	width: 100vw;
}

#custom-webpage-root .feature-header>span {
	color: #fff;
	font-family: HelveticaNeue-Light, Helvetica Neue Light;
}

#custom-webpage-root .feature-header>h3 {
	font-size: 2em;
	margin-top: 5px;
}

#custom-webpage-root .feature-header>hr {
	border: 1px solid #701109;
	float: left;
	width: 50px;
	background-color: #701109;
}

#custom-webpage-root .feature-header>iframe {
	display: none;
}

/*Feature Section*/

#custom-webpage-root .v-div {
	position: absolute;
	left: 12.5vw;
}

#custom-webpage-root .feature-tiling {
	border-top: 1px solid #333;
	display: flex;
}

#custom-webpage-root .feature-text-section {
	flex: 1 1;
	float: left;
	padding-left: calc(12.5vw - 50px);
	width: 40vw;
}

#custom-webpage-root .feature-section .feature-tiling:nth-child(odd)>.feature-text-section {
	float: right;
	margin-right: calc(12.5vw - 50px);
	order: 2;
}

#custom-webpage-root .feature-image-section {
	flex: 1 1;
	float: left;
	margin-right: calc(12.5vw - 50px);
	width: 40vw;
}

#custom-webpage-root .feature-section .feature-tiling:nth-child(odd)>.feature-image-section {
	padding-left: calc(12.5vw - 50px);
}

#custom-webpage-root .feature-text-outer {
	margin: 50px;
}

#custom-webpage-root .feature-image-outer {
	margin: 50px;
	max-width: 100%;
}

#custom-webpage-root .feature-image-outer>img {
	max-width: 100%;
}

/*Statisics Section*/
#custom-webpage-root li {
	display: list-item;
	text-align: -webkit-match-parent;
	text-align: match-parent;
}

@media (min-width: 750px) {
	#custom-webpage-root #statistics {
		margin: 0;
		max-width: 1400px;
		padding: 0;
	}
}

#custom-webpage-root .specs-above {
	font-family: HelveticaNeue-Light, Helvetica Neue Light;
	margin-top: 50px;
	width: 75vw;
	margin-left: 12.5vw;
	margin-right: 12.5vw;
}

#custom-webpage-root .specs-above>h3 {
	font-size: 2em;
	margin-top: 5px;
}

#custom-webpage-root .specs-above>hr {
	border: 1px solid #701109;
	float: left;
	width: 50px;
}

#custom-webpage-root .specs-container {
	grid-gap: 30px;
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-template-rows: 1fr;
}

#custom-webpage-root #stats-column-image, #custom-webpage-root .specs-container {
	width: 75vw;
}

#custom-webpage-root #stats-column-image {
	margin: 0px;
	padding: 0px;
	display: flex !important;
	justify-content: center;
	width: 100%;
}

#custom-webpage-root #stats-column-image>img {
	width: 75% !important;
}

@media (min-width: 750px) {
	#custom-webpage-root .specs-under {
		border: 1px solid #333;
		background-color: #333;
		float: left;
		margin-top: 7.5px;
		width: 25%;
	}
}

/*Copy Section*/
@media (min-width: 750px) {
	#custom-webpage-root #contact {
		margin-top: 100px;
		min-width: 100vw;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: flex-start;
	}
}

#custom-webpage-root .contact-left {
	float: left;
	max-width: 50vw;
	width: 50vw;
}

#custom-webpage-root .right-contain h1>ul {
	list-style-type: none;
	padding-left: 10px;
}

#custom-webpage-root .right-contain h1>ul>li, #custom-webpage-root .right-contain h1>ul>li {
	float: left;
	height: 25px;
	width: 25px;
}

#custom-webpage-root .right-contain h1>ul>li>a>img {
	height: 20px;
	width: 20px;
}

#custom-webpage-root .contact-right {
	border-left: 1px solid #770909;
	float: left;
	max-width: 50vw;
	width: calc(50vw - 2px);
}

#custom-webpage-root .right-contain p {
	margin-top: 75px;
}

/*Buttons*/

#custom-webpage-root .button--hyperion span {
	display: block;
	position: relative;
}

#custom-webpage-root .button--hyperion>span {
	overflow: hidden;
}

#custom-webpage-root .button--hyperion>span>span {
	mix-blend-mode: difference;
	overflow: hidden;
}

#custom-webpage-root .button--hyperion:hover:before {
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
}

#custom-webpage-root .button:after, #custom-webpage-root .button:before {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

#custom-webpage-root .button--hyperion:before {
	background: #000;
	content: "";
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	transition: -webkit-transform .3s cubic-bezier(.7, 0, .2, 1);
	transition: transform .3s cubic-bezier(.7, 0, .2, 1);
	transition: transform .3s cubic-bezier(.7, 0, .2, 1), -webkit-transform .3s cubic-bezier(.7, 0, .2, 1);
}

/*Ordering Section*/
@media (min-width: 750px) {
	#custom-webpage-root .ordering-column {
		float: left;
		margin-bottom: 50px;
		max-width: 700px;
		z-index: 3;
		padding-left: 12.5vw;
		padding-right: 12.5vw;
	}
}

@media (min-width: 750px) {
	#custom-webpage-root .ordering-below {
		width: 100vw;
	}
}

@media (min-width: 750px) {
	#custom-webpage-root .ordering-below>img {
		max-width: 1400px;
		transition: all .5s ease-in-out;
		width: 100vw;
		display: block;
		margin: auto;
	}
}

/*Directories*/
#custom-webpage-root .directory-section {
	min-height: 500px;
	width: 100vw;
}

#custom-webpage-root .directory-container {
	padding: 50px;
}

#custom-webpage-root .directory-line {
	display: none;
}

/*Industries*/

#custim-webpage-root .industry {
	display: flex;
	flex-direction: row;
}

#custom-webpage-root .industry, #custom-webpage-root .landing {
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

#custom-webpage-root .landing {
	padding-top: calc(50vh - 35px);
	background: no-repeat 50% fixed;
	background-size: cover;
	height: calc(100vh - 70px);
	row-gap: 10px;
	width: 100vw;
}

#custom-webpage-root .landing>h1 {
	font-size: 7.5rem;
	top: 200px;
	min-width: 100vw;
	text-align: center;
	text-shadow: 7.5px 7.5px 5px #000;
	margin-top: 0px;
	margin-bottom: 0px;
}

#custom-webpage-root .landing>h3 {
	font-size: 3rem;
	min-width: 100vw;
	text-align: center;
	text-shadow: 5px 5px 2.5px #000;
}

.landing>.hr {
	border: 2px solid #9e0a0a;
	background-color: #9e0a0a;
	margin-left: calc(50vw - 50px);
	width: 100px;
}

#custom-webpage-root .left-container>button {
	float: right;
	margin-top: 200px;
	position: relative;
}

#custom-webpage-root .overview {
	display: flex;
}

#custom-webpage-root .overview-right {
	border-left: .5px solid #7e0707;
	margin-top: 25px;
	max-width: 50vw;
}

#custom-webpage-root .overview-left {
	margin-top: 25px;
	max-width: 50vw;
}

#custom-webpage-root .left-container {
	position: relative;
	margin: 50px;
}

#custom-webpage-root .left-container>h1 {
	float: right;
	margin-bottom: 10px;
}

#custom-webpage-root .right-container {
	max-width: 590px;
	margin: 50px;
}

#custom-webpage-root .right-container>p {
	color: #888;
	font-family: HelveticaNeue-Light, Helvetica Neue Light;
	letter-spacing: 1px;
	line-height: 25px;
}

#custom-webpage-root .left-container>button {
	float: right;
	margin-top: 200px;
	position: relative;
}

#custom-webpage-root [src=""] {
	display: none
}

.c-text {
	text-align: center;
}

#custom-webpage-root #custom-contact {
	display: flex;
	flex-wrap: nowrap;
	padding-left: 12.5vw;
	padding-right: 12.5vw;
}

#custom-webpage-root #custom-contact .left-contain {
	padding-right: 50px;
}

#custom-webpage-root #custom-contact .right-contain {
	padding-left: 50px;
}

#custom-webpage-root #custom-contact ul {
	padding: 0px;
	list-style: none;
	display: flex;
	flex-wrap: nowrap;
}

#custom-webpage-root #custom-contact li {
	margin: 10px;
	height: 7vw;
	width: 7vw;
}

#custom-webpage-root #custom-contact img {
	height: 7vw;
	width: 7vw;
}

@media (min-width: 750px) {
	h1.title {
		font-size: 4em !important;
	}
}

h1.title {
	word-wrap: break-word;
	font-weight: 900 !important;
	margin: 0;
	text-align: center;
	text-shadow: 5px 5px 5px #000;
	font-family: Helvetica !important;
	margin-block-end: 1.5rem !important;
	/* background-color: #000; */
	/* opacity: 50%; */
}


@media (min-width: 750px) {
	h2.subtitle {
		font-size: 2em !important;
	}
}

h2.subtitle {
	color: #dbdbdb;
	/* color: #fff; */
	font-weight: 100 !important;
	letter-spacing: 2.75px;
	text-align: center;
	text-shadow: 3px 4px 3px #000;
	text-transform: uppercase;
	font-family: Helvetica !important;
	/* background-color: #000; */
	/* opacity: 50%; */
}

@media (min-width: 750px) {
	h1.title+hr+h2.subtitle {
		margin-block-start: 1.5rem !important;
	}
}

h1.title+div.hr+h2.subtitle {
	margin-block-start: 1.5rem !important;
}

h2.subtitle>span {
	font-family: Helvetica !important;
}

#quote_header_12 {
	color: #fff;
}

#custom-webpage-root .tiles {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	flex-wrap: wrap;
	width: 75vw;
}


#custom-webpage-root .product-tile {
	margin-top: 50px;
	color: white;
	z-index: 1;
	border-style: solid;
	padding: 1vw;
	box-shadow: 5px -5px 20px 1px #555
}

@media (max-width: 750px) {
	#custom-webpage-root .product-tile {
		width: 75vw;
	}
}

@media (min-width: 750px) {
	#custom-webpage-root .product-tile {
		width: 25vw;
	}
}

#custom-webpage-root .product-tile img {
	width: 100%;
	height: auto;
}

#custom-webpage-root .product-tile .price-row {
	display: flex;
	justify-content: space-between;

}

.product-tile a {
	max-width: 45% !important;
}

.product-tile div>span {
	max-width: 45% !important;
}

.custom-product-table td {
	color: #fff;
}

#wrap {
	height: fit-content;
}

#book-a-demo-form-focus {
	margin-top: 3vh;
}

#form-div {
	justify-content: center;
}

#question-icon {
	margin-top: 2rem !important;
}

div.specs_div{
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: auto;
}

span.var_chooser {
	padding: 20px !important;
	cursor: pointer;
}

label.var_chooser {
	color: #999;
}

span.var_chooser.selected {
	color: #fff !important;	
}

input[name=variantSelector] {
	display: none;
}

input[name=variantSelector]:not(:checked) + .specs {
	display: none;
}


#overview > h1 {
	margin-left: 15vw;
	margin-right: 15vw;
}


/* @keyframes o-anim-heartbeat {
	background-color: #9c0000;
} */

#o_wblog_post_content_jump {
	color: #9C0000;
	/* animation: none; */
}

@keyframes o-anim-heartbeat{
	0%, 14%, 35% {
		transform: scale(1);
	}
	7%, 21% {
		transform: scale(1.3);
		 background-color: #9C0000;
	}
}

#o_wblog_post_content_jump > o-anim-heartbeat
{
	background-color: #9C0000;
}

#title > div {
	height: 55vw !important;
}

#o_wblog_post_content > nav > li > a {
	color: #9C0000;
}

#o_wblog_post_content > div.o_wblog_post_content_field.o_wblog_read_text > p > a {
	color: #9C0000;
}

#o_wblog_blog_top {
	height: 30vh;
}

article[name=blog_post] {
	color: #FFF;
}

.page-link {
	color: #9C0000;
}

#o_wblog_posts_loop_container > ul > li.page-item.active > a {
	background-color: #9C0000;
	border-color: #9C0000;
}