@media (max-width: 749px) {
	#custom-webpage-root * {
		max-width: 100vw;
		text-align: center;
	}
    
    #custom-webpage-root .specs-above > hr {

    display:  none;
    
    }
    
    #custom-navbar {
            
/*         position: fixed !important; */
        
    }
    
    .ordering-below > img {
     
        margin-top: 25px;
        
    }
    
    .v-div > span {
        float: left;
    }
    
    .v-div > h3 {
        padding-top: 10;
    }
    
    #custom-webpage-root #landing>iframe {
     
        height: 75vh;
        
    }

	#custom-navbar #custom-navbar-logo {
		display: block;
		height: -moz-fit-content;
		height: fit-content;
		margin: auto;
		position: relative;
		top: 0;
		width: 100%;
	}

	#custom-navbar img {
		display: block;
		height: auto;
		margin: auto;
		position: relative;
		top: 0;
		transition: all .5s ease-in-out;
		width: 100%;
        padding-top: 5px;
        max-width: 400px;
	}

	#custom-navbar #Menu-Links {
		display: block
	}

	#custom-navbar .custom-burger {
		display: block;
	}

	#custom-navbar .burger-row {
		width: 25px;
		height: 5px;
		border-radius: 5px;
		background-color: #fff;
		margin-bottom: 5px;
	}

	#custom-navbar ul.nav-list {
		display: none;
	}

	#custom-navbar .custom-burger:hover+ul.nav-list, #custom-navbar ul.nav-list:hover {
		position: absolute;
		display: block;
		background-color: black;
		z-index: 50;
		width: 100vw;
		left: 0px;
	}

	#custom-navbar li {
		display: block;
	}

	#custom-navbar .dropdown-content {
		border: none;
	}

	#custom-navbar .dropdown-content>li {
		display: list-item;
		list-style: disc;
		color: #fff;
	}

	#custom-navbar .dropdown-content>li li {
		list-style: circle;
	}

	#custom-navbar .dropdown-content {
		position: relative;
		display: block;
	}

	#custom-navbar .submenu>a {
		display: block;
	}

	#custom-webpage-root #landing>iframe {
		width: 100vw;
	}

	#custom-webpage-root .subheader {
		flex-wrap: wrap;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
	}

	#custom-webpage-root .subheader>a>h3 {
		margin: 0px;
		font-size: .75rem;
		padding: 3px;
	}

	#custom-webpage-root .product-landing-text {
		width: 75%;
	}

	#custom-webpage-root #overview {
		display: block;
	}

	#custom-webpage-root #overview>iframe {
		width: 75vw;
		margin-left: 12.5vw;
		margin-right: 12.5vw;
	}

	#custom-webpage-root #overview>h1 {
		padding: 12.5vw !important;
	}

	#custom-webpage-root #overview>p {
		padding: 12.5vw;
	}

	#custom-webpage-root #sketchfab>iframe {
		width: 75vw;
		margin-left: 12.5vw;
		margin-right: 12.5vw;
	}

	#custom-webpage-root .yt-vid {
		width: 75%;
	}

	#custom-webpage-root .vidwrap.vid-first {
		flex-direction: column-reverse;
	}

	#custom-webpage-root .vidwrap, #custom-webpage-root .vidleft, #custom-webpage-root .vidright {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
	}

	#custom-webpage-root .vidleft>p, #custom-webpage-root .vidright>p {
		padding-left: 12.5vw;
		padding-right: 12.5vw;
	}

	#custom-webpage-root .vidleft>h1, #custom-webpage-root .vidright>h1 {
		padding-left: 12.5vw;
		padding-right: 12.5vw;
	}

	#custom-webpage-root .feature-tiling {
		display: block;
	}


/* 	changes here */
	#custom-webpage-root .feature-text-section {

		flex: none;
		float: none;
		order: none;
		padding-left: calc(12.5vw-50px);
		padding-right: calc(12.5vw-50px);
		max-width: 90vw;
		margin: 0 auto;

	}

	#custom-webpage-root .feature-image-section {

		flex: none;
		float: none;
		padding-left: calc(12.5vw - 50px);
		padding-right: calc(12.5vw - 50px);
		max-width: 90vw;
		margin: 0 auto;

	}

	#custom-webpage-root .feature-text-outer {
		padding: 0;
		margin: 0 auto;
		max-width: 70vw;
	}

	#custom-webpage-root .feature-image-outer {
		padding: 0;
		margin: 0 auto;
		margin-bottom: 20px;
		max-width: 70vw;
	}
/* 	end changes */

	.vidwrap {
		margin-top: 10px;
	}

/* 	#custom-webpage-root .feature-image-section {
		width: 100vw;
	}

	#custom-webpage-root .feature-section .feature-tiling:nth-child(odd)>.feature-image-section {
		display: block;
		padding: 0px;
		margin: auto;
	} */

/* 	#custom-webpage-root .feature-text-section {
		width: 100vw;
	} */

	#custom-webpage-root #use-Case-div {
		position: relative;
		left: 0px;
	}

	#custom-webpage-root .ordering-column {
		max-width: 100vw;
		width: -moz-fit-content;
		width: fit-content;
		padding-left: 12.5vw;
		padding-right: 12.5vw;
	}

/* 	#custom-webpage-root .feature-section .feature-tiling:nth-child(odd)>.feature-text-section {
		margin: auto;
	} */


	#custom-webpage-root .contact-left {
		float: none;
		display: flex;
		justify-content: center;
		width: 100vw;
		max-width: 100vw;
	}

	#custom-webpage-root .contact-right {
		border: none;
		float: none;
		display: flex;
		justify-content: center;
		width: 100vw;
		max-width: 100vw;
	}

	#custom-webpage-root .contact-right h1>ul {
		width: -moz-fit-content;
		width: fit-content;
		margin: auto;
		padding: 0px;
	}

	#custom-webpage-root #stats-column-image>img {
		z-index: 99;
	}

	#custom-webpage-root .ordering-below {
		width: 100vw;
		display: flex;
		justify-content: center;
	}

	#custom-webpage-root .ordering-below>img {
		max-width: 100%;
	}

	#custom-webpage-root iframe {
		border: none;
	}

	#custom-webpage-root #custom-contact {
		display: block;
	}

	#custom-webpage-root #custom-contact .contact-left {
		width: 75vw;
	}

	#custom-webpage-root #custom-contact .contact-right {
		width: 75vw;
	}

	#custom-webpage-root #custom-contact .left-contain {
		padding-left: 12.5vw;
		padding-right: 12.5vw;
	}

	#custom-webpage-root #custom-contact .right-contain {
		padding-left: 12.5vw;
		padding-right: 12.5vw;
	}

	h1.title {
		font-size: 1.5em !important;
		margin-bottom: 7px !important;
	}

	h2.subtitle {
		margin-top: 7px !important;
		font-size: 0.75em !important;
	}

	#custom-webpage-root hr {
		margin-block-start: 0.25em;
		margin-block-end: 0.25em;
	}
    
    #custom-webpage-root .yt-vid {
     
        width: 100%;
        margin: 15p;
        
    }
}

      @media (max-width: 565px) {
            #custom-navbar .custom-burger {
            max-width: 30px !important;
            padding-top: 25px;
            }
            #custom-navbar .container {
            float: right;
            }
            }
            @media (min-width: 360px) and (max-width: 480px) {
            #custom-navbar .custom-burger {
            padding-top: 20px !important;
            padding-bottom: 20px;
            }
            }
            @media (min-width: 425px) and (max-width: 480px) {
            #custom-navbar .custom-burger {
            padding-top: 20px !important;
            padding-bottom: 20px !important;
            max-width: 30px !important;
            }
            }
            @media (max-width: 749px) {
            #custom-navbar .custom-burger, div#Menu-Links {
            max-width:30px !important;
            padding-top: 10px;
            }
            #custom-navbar .container {
            float: right;
            width: calc(100vw - 100px);
            }
            }
            @media (min-width: 475px) and (max-width: 749px) {
            #custom-navbar .custom-burger {
            padding-top: 20px;
            padding-bottom: 10px;
            }
            #custom-navbar img {
/*                 position: fixed; */
/*                 padding-top: 55px; */
                padding-left: 15px;
            }
            }
            @media (max-width: 360px) {
            #custom-navbar .custom-burger {
            padding-top: 3px !important;
            padding-bottom: 3px !important;
            }
            #custom-navbar img {
            width: 100% !important;
            padding-top: 5px !important;
            }
            }
            
            
            #bottom {
            position: absolute;
            bottom: 0;
            left: 0;
			}
           
   .nav-mobile {
    width: 100vw;
    height: 100vh;

    z-index: 60;
    position: fixed;

    overflow-y: scroll;

    text-align: center;

    color: #fff;
    background-color: #190000;

    display: none;
  }

  .nav-mobile-inner {
    padding: 50px;
  }

  .nav-mobile-inner > ul,
  .nav-mobile-inner > ul > li > ul {
    padding-left: 0;

    list-style-type: none;
  }

  .nav-mobile-inner > h1 {
    top: 0;
    left: 0;

    padding-left: 15px;

    position: absolute;

    font-family: "Source Sans Pro", sans-serif;

    color: #888;
  }

  .nav-mobile-inner > h1 > b {
    color: #fff;
  }

  .nav-mobile-inner > ul > li > h1 {
    text-transform: uppercase;
  }

  .nav-mobile-inner > ul > li > hr {
    width: 50px;

    margin-top: 25px;
    margin-bottom: 10px;

    border: 1px solid #701109;
  }

  .nav-mobile-inner > ul > li > ul > li > a {
    color: #888;

    font-family: "Source Sans Pro", sans-serif;
  }

.o_menu_brand {

    position: absolute !important;
    
}
                
.subheader {

    padding-top: 5px !important;
    padding-bottom: 5px !important;
    
}

.subheader > a {

    margin-left: 2px;
    margin-right: 2px;
    
}

@media (min-width:540px) and (max-width: 749px) {
    
    #custom-navbar img {
     
        padding-right: calc(10vw + 30px) !important;
        
    }
    
}
