@media (max-width: 749px) {
	#custom-webpage-root * {
		max-width: 100vw;
		text-align: center;
	}

	#custom-navbar #custom-navbar-logo {
		display: block;
		height: -moz-fit-content;
		height: fit-content;
		margin: auto;
		position: relative;
		top: 0;
		width: 100%;
	}

	#custom-navbar img {
		display: block;
		height: auto;
		margin: auto;
		position: relative;
		top: 0;
		transition: all .5s ease-in-out;
		width: 75%;
	}

	#custom-navbar #Menu-Links {
		display: block
	}

	#custom-navbar .custom-burger {
		display: block;
	}

	#custom-navbar .burger-row {
		width: 25px;
		height: 5px;
		border-radius: 5px;
		background-color: #fff;
		margin-bottom: 5px;
	}

	#custom-navbar ul.nav-list {
		display: none;
	}

	#custom-navbar .custom-burger:hover+ul.nav-list, #custom-navbar ul.nav-list:hover {
		position: absolute;
		display: block;
		background-color: black;
		z-index: 50;
		width: 100vw;
		left: 0px;
	}

	#custom-navbar li {
		display: block;
	}

	#custom-navbar .dropdown-content {
		border: none;
	}

	#custom-navbar .dropdown-content>li {
		display: list-item;
		list-style: disc;
		color: #fff;
	}

	#custom-navbar .dropdown-content>li li {
		list-style: circle;
	}

	#custom-navbar .dropdown-content {
		position: relative;
		display: block;
	}

	#custom-navbar .submenu>a {
		display: block;
	}

	#custom-webpage-root #landing>iframe {
		width: 100vw;
	}

	#custom-webpage-root .subheader {
		flex-wrap: wrap;
	}

	#custom-webpage-root .subheader>a>h3 {
		margin: 0px;
		font-size: .75rem;
		padding: 3px;
	}

	#custom-webpage-root .product-landing-text {
		width: 75%;
	}

	#custom-webpage-root #overview {
		display: block;
	}

	#custom-webpage-root #overview>iframe {
		width: 75vw;
		margin-left: 12.5vw;
		margin-right: 12.5vw;
	}

	#custom-webpage-root #overview>h1 {
		padding: 12.5vw !important;
	}

	#custom-webpage-root #overview>p {
		padding: 12.5vw;
	}

	#custom-webpage-root #sketchfab>iframe {
		width: 75vw;
		margin-left: 12.5vw;
		margin-right: 12.5vw;
	}

	#custom-webpage-root .yt-vid {
		width: 75%;
	}

	#custom-webpage-root .vidwrap.vid-first {
		flex-direction: column-reverse;
	}

	#custom-webpage-root .vidwrap, #custom-webpage-root .vidleft, #custom-webpage-root .vidright {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
	}

	#custom-webpage-root .vidleft>p, #custom-webpage-root .vidright>p {
		padding-left: 12.5vw;
		padding-right: 12.5vw;
	}

	#custom-webpage-root .vidleft>h1, #custom-webpage-root .vidright>h1 {
		padding-left: 12.5vw;
		padding-right: 12.5vw;
	}

	#custom-webpage-root .feature-tiling {
		display: block;
	}

	.vidwrap {
		margin-top: 10px;
	}

	#custom-webpage-root .feature-image-section {
		width: 100vw;
	}

	#custom-webpage-root .feature-section .feature-tiling:nth-child(odd)>.feature-image-section {
		display: block;
		padding: 0px;
		margin: auto;
	}

	#custom-webpage-root .feature-text-section {
		width: 100vw;
	}

	#custom-webpage-root #use-Case-div {
		position: relative;
		left: 0px;
	}

	#custom-webpage-root .ordering-column {
		max-width: 100vw;
		width: -moz-fit-content;
		width: fit-content;
		padding-left: 12.5vw;
		padding-right: 12.5vw;
	}

	#custom-webpage-root .feature-section .feature-tiling:nth-child(odd)>.feature-text-section {
		margin: auto;
	}


	#custom-webpage-root .contact-left {
		float: none;
		display: flex;
		justify-content: center;
		width: 100vw;
		max-width: 100vw;
	}

	#custom-webpage-root .contact-right {
		border: none;
		float: none;
		display: flex;
		justify-content: center;
		width: 100vw;
		max-width: 100vw;
	}

	#custom-webpage-root .contact-right h1>ul {
		width: -moz-fit-content;
		width: fit-content;
		margin: auto;
		padding: 0px;
	}

	#custom-webpage-root #stats-column-image>img {
		z-index: 99;
	}

	#custom-webpage-root .ordering-below {
		width: 100vw;
		display: flex;
		justify-content: center;
	}

	#custom-webpage-root .ordering-below>img {
		max-width: 100%;
	}

	#custom-webpage-root iframe {
		border: none;
	}

	#custom-webpage-root #custom-contact {
		display: block;
	}

	#custom-webpage-root #custom-contact .contact-left {
		width: 75vw;
	}

	#custom-webpage-root #custom-contact .contact-right {
		width: 75vw;
	}

	#custom-webpage-root #custom-contact .left-contain {
		padding-left: 12.5vw;
		padding-right: 12.5vw;
	}

	#custom-webpage-root #custom-contact .right-contain {
		padding-left: 12.5vw;
		padding-right: 12.5vw;
	}

	h1.title {
		font-size: 1.5em !important;
	}

	h2.subtitle {
		font-size: 0.75em !important;
	}

	#custom-webpage-root hr {
		margin-block-start: 0.25em;
		margin-block-end: 0.25em;
	}
}