@media (max-width: 749px) {
#custom-navbar  #custom-navbar-logo {
	display: block;
	height: fit-content;
	margin: auto;
	position: relative;
	top: 0;
	width: 100%;
}

#custom-navbar img {
	display: block;
	height: auto;
	margin: auto;
	position: relative;
	top: 0;
	transition: all .5s ease-in-out;
	width: 75%;
}

#custom-navbar ul.nav-list {
	display: none;
}

#custom-webpage-root .feature-tiling {
	display: block;
}

.vidwrap {
	margin-top: 10px;
}

#custom-webpage-root .feature-image-section {
	width: 100vw;
}

#custom-webpage-root .feature-section .feature-tiling:nth-child(odd)>.feature-image-section {
	display: block;
    padding: 0px;
	margin: auto;
}

#custom-webpage-root .feature-text-section {
	width: 100vw;
}

#custom-webpage-root .ordering-column {
    max-width: 100vw;
	width: fit-content;
}

#custom-webpage-root .order-options {
	padding: 12.5vw;
}

#custom-webpage-root #order-border {
	max-width: 100vw;
	width: fit-content;
	margin-right: calc(12.5vw - 100px);
	margin-left: calc(12.5vw - 100px);
}

#custom-webpage-root .feature-section .feature-tiling:nth-child(odd)>.feature-text-section {
    margin: auto;
}


#custom-webpage-root .contact-left {
	float: none;
 	display: flex;
    justify-content: center;
	width: 100vw;
	max-width: 100vw;
}

#custom-webpage-root .contact-right {
	border: none;
	float: none;
    display: flex;
	justify-content: center;
	width: 100vw;
	max-width: 100vw;
}

#custom-webpage-root .ordering-below {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#custom-webpage-root .ordering-below>img {
	max-width: 100%;
}
}