.productTable>.active>.customerPortalProducts {
	padding: 0.75rem !important;
}

.custom-product-table td {
	color: #fff;
}

.customerPortalProducts, .customerPortalProducts>span {
	color: #333;
}

#product_detail>div {
	margin: auto;
}

.js_language_selector {
	display: none !important;
}