#product-menu-pro {
	height: fit-content;
	margin-bottom: 0.5rem;
	justify-content: center;
}

#product-menu-pro .custom-menu-row {
	display: block;
	margin-top: .5rem;
	margin-left: .5rem !important;
	margin-right: .5rem !important;
}

#product-menu-pro>div:nth-child(2)>div>div {
	margin-left: 0.5rem !important;
}

#product-menu-pro>div:nth-child(2)>div {
	justify-content: unset !important;
}

#product-menu-pro input {
	margin-bottom: 0px !important;
	padding-top: .375rem;
	padding-bottom: .375rem !important;
}

#product-menu-pro input, #product-menu-pro div {
	height: 100%;
}

#product-menu-pro>div:nth-child(2)>div>form {
	min-height: 100%;
	margin-right: auto !important;
	margin-left: auto !important;
}

#product-menu-pro>div:nth-child(1)>ol {
	background-color: #24272A !important;
	border: 1px solid #2D2F32 !important;
	border-radius: 10px;
	margin-bottom: 0px !important;
	padding-top: 0.375rem;
	padding-bottom: 0.375rem !important;
	width: -moz-fit-content;
	width: fit-content;
}

#product-menu-pro>div:nth-child(1)>ol>li.breadcrumb-item.o_not_editable>a {
	color: #db0d0d !important;
	margin-left: 1vw;
}

#product-menu-pro>div:nth-child(1)>ol>li.breadcrumb-item.active {
	margin-right: 1vw;
}

#product-menu-pro>div:nth-child(2)>div>form>div>input {
	color: #888 !important;
	background-color: #24272A !important;
	border: 1px solid #2D2F32 !important;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#product-menu-pro>div:nth-child(2)>div>form>div>div>button {
	color: #888;
	background-color: #2D2F32 !important;
	border: 1px solid #2D2F32 !important;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#product-menu-pro>div:nth-child(2)>div>div>a {
	color: #888 !important;
	padding-left: 15px !important;
	background-color: #000;
	margin-right: 5vw;
}

#product-menu-pro>div:nth-child(1)>ol>li.breadcrumb-item.active::before {
	font-family: 'FontAwesome';
	content: "\f105";
	padding-right: 0.2rem;
}

#product-menu-pro .dropdown-menu.show {
	background-color: #2D2F32;
}

#product-menu-pro .dropdown-item {
	background-color: #2D2F32;
	color: #fff;
}

#product-menu-pro .submenu {
	margin-left: 150px;
	margin-top: -25px;
}