.productTable > .active > .customerPortalProducts {
    padding: 0.75rem !important;
}
.customerPortalProducts, .customerPortalProducts > span {
    color: #333;
}

#product_detail > div {
    margin: auto;
}