#projectPortalTable {
    background-color: #333;
    color: #db0d0d;
}

#projectPortalTable > tbody > tr > td > a > span {
    color: #db0d0d;   
}

#projectPortalTable > thead > tr > th > em {
    background-color: #1E2023;
    color: #fff;
}

#projectPortalTable > thead > tr > th {
    background-color: #1E2023;
    color: #fff;   
}

#top_menu_container > a > span > img {
    height: 50%;
}

#wrapwrap > main {
    background-color: #000 !important;
}

header#top > nav.Navbar {
    background-color: #000;
    border-bottom-color: #000 !important;
}

#bottom > div.o_footer_copyright.o_colored_level.o_cc {
    background-color: #111;
}

.nav-item {
    color: #fff;
}
.nav-link {
    color: #fff;
}