* {
	font-family: 'helvetica';
}

span>strong, td>strong {
	font-family: 'helvetica';
}

body {
	overflow-x: hidden;
	background-color: #000;
}

div.o_brand_promotion {
	visibility: hidden !important;
}

#projectPortalTable {
	background-color: #333;
	color: #db0d0d;
}

#projectPortalTable>tbody>tr>td>a>span {
	color: #db0d0d;
}

#projectPortalTable>thead>tr>th>em {
	background-color: #1e2023;
	color: #fff;
}

#projectPortalTable>thead>tr>th {
	background-color: #1e2023;
	color: #fff;
}

#top_menu_container>a>span>img {
	height: 50%;
}

#top_menu_container>a {
	margin: auto !important;
	display: block;
}

#wrapwrap {
	overflow-x: hidden;
	overflow-y: scroll;
}

#wrap {
	height: 100%;
}

header#top>nav.Navbar {
	background-color: #000 !important;
	border-bottom-color: #000 !important;
}

#bottom {
	z-index: 6;
	background-color: #111;
	position: fixed;
	padding: 0px;
	height: fit-content;
}

#bottom>div.o_footer_copyright.o_colored_level.o_cc {
	display: flex;
	flex-wrap: nowrap;
	z-index: 6;
	background-color: #111;
	position: fixed;
	bottom: 0px;
	width: 100vw;
	height: 4rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

#bottom>div.o_footer_copyright.o_colored_level.o_cc *, #bottom>div.o_footer_copyright.o_colored_level.o_cc .py-3 {
	margin: 0px;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	height: 1em;
}

#bottom .o_footer_copyright .row, #bottom .o_footer_copyright .col-sm {
	display: flex;
	flex-wrap: nowrap;
}

#bottom>div.o_footer_copyright.o_colored_level.o_cc>div button[type="button"] {
	height: fit-content;
	font-size: .75rem;
}

#bottom .o_footer_copyright span {
	white-space: nowrap;
	height: 1em;
	font-size: 1rem;
}

.nav-item {
	color: #fff;
}

.nav-link {
	color: #fff;
}

.nav-link>span {
	color: #fff;
}

#top_menu_container>button>span.navbar-toggler-icon {
	color: #fff !important;
}

#top_menu>li.o_wsale_my_cart.align-self-md-start.nav-item>a>sup {
	background-color: #db0d0d;
}

#product_detail {
	background-color: #000;
}

#wrap#wrap {
	background-color: #000 !important;
}

main {
	margin-bottom: 4rem;
}

div.proportal-menu-bar {
	width: 35px;
	height: 5px;
	background-color: #fff;
	margin: 6px;
	border-radius: 2px;
	background-color: #db0d0d;
	border-style: none;
}

body>div.openerp.o_livechat_button.d-print-none.o_bottom_fixed_element {
	color: #fff !important;
}

body > div.o_thread_window.o_in_home_menu > div.o_thread_window_header > span.o_thread_window_title {
	color: #fff;
}

body > div.o_thread_window.o_in_home_menu > div.o_mail_thread > div > div.o_thread_message.o_mail_discussion > div.o_thread_message_core > div > p {
	color: #000;
}

#product_no_sell_email {
	background-color: #db0d0d;
}

#product_no_sell_phone {
	background-color: #db0d0d;
}

.nav-link>span {
	color: #db0d0d;
}

#custom_footer_bar {
	display: flex;
	width: 100vw;
	justify-content: space-between;
}
#custom-footer > div#custom_footer_bar > div > a, #custom-footer > div#custom_footer_bar > div > span {
	color: #888;
    font-family: Source Sans Pro,sans-serif;
    font-weight: 100;
}

#bottom > div.o_footer_copyright.o_colored_level.o_cc {
	display: none;
}

#bottom>div.o_footer_copyright.o_colored_level.o_cc {
	height: 3rem;
}

#custom-footer span {
	color: #888;
    font-family: Source Sans Pro,sans-serif;
    font-weight: 100;
}

#sidebar_content {
	z-index: 1;
}

#wrapwrap > main > div.o_portal.container.mt-3 > div > div > ol > li.breadcrumb-item.ml-1 > a > i{
	margin-left: 2.5vw;
}

#wrapwrap#wrapwrap.o_portal {
	background-color: #000 !important;
}

.text-center.o_colored_level.col-lg-4.o_cc.o_cc3.pb24.pt48 {
	padding-block-start: 36px !important;
	padding-block-end: 36px !important;
}

main {
	height: fit-content;
}

#wrap.o_portal_wrap {
	height: fit-content;
}

.align-items-center {
	background-color: #24272A !important;
}

h5.mb-1 {
	color: #fff;
}

ul.nav > li> a {
	color: #000;
}

div.col-lg-auto, #sidebar_content, #sidebar_content *{
	color: #fff;
	background-color: #333 !important;
	border: none !important;
}

#sidebar_content .o_download_btn, #sidebar_content .fa-download {
	background-color: #db0d0d !important;
}

#sidebar_content strong.text-muted {
	color: #888 !important;
}

.o_portal_chatter .o_portal_chatter_messages .o_portal_chatter_message_title p {
	color: #888;
}

.o_message_counter {
	color: #888;
}